.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 240px;
}

.text {
  margin-top: 90px;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
}

.comparing {
  &::before {
    content: '채점중';
  }

  &::after {
    content: '';
    animation: comparing-animation 2s linear infinite;
  }
}

.link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 12px;
  font-size: 19px;
  line-height: 22px;
  vertical-align: top;
  color: #fff;
  &:hover {
    background-color: rgba(#fff, 0.15);
  }
}

@include mediaQuery('pc_wide') {
  .wrap {
    justify-content: center;
  }

  .text {
    margin-top: 0;
  }

  .link {
    margin-top: 40px;
  }
}

@keyframes comparing-animation {
  0% {
    content: '.';
  }

  25% {
    content: '..';
  }

  50% {
    content: '...';
  }

  75% {
    content: '';
  }

  100% {
    content: '.';
  }
}
