.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  min-height: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 30px 25px 50px;
}

.name {
  padding: 0 0 20px 5px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.button_tab {
  position: relative;
  width: 107px;
  margin-bottom: 0;
  padding: 7px 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  font-size: 14px;
  line-height: 17px;

  & + .button_tab {
    margin-left: 1px;
  }

  &.activate {
    background-color: #19b3e6;
  }
}

.editor,
.view,
.grade,
.answer {
  flex: 1 0 100%;
}

.view {
  order: 1;
}

.answer {
  order: 4;
}

.answer_title {
  margin: 40px 0;
  color: #fff;
  font-size: 40px;
  text-align: center;
  flex: 1 0 100%;
  order: 3;
}

@include mediaQuery('tablet') {
  .main {
    max-width: 970px;
  }

  .tab {
    display: none;
  }
}

@include mediaQuery('pc') {
  .name {
    font-size: 22px;
    line-height: 26px;
  }
}

@include mediaQuery('pc_wide') {
  .main {
    flex-wrap: wrap;
    max-width: none;
    width: 1500px;
  }

  .grade {
    flex-basis: 50%;
  }

  .view {
    order: 0;
    max-width: 50%;
    padding-top: 80px;
    box-sizing: border-box;
  }
}
